<footer>
    <div id="footer-bar" class="row">
        <div id="about" class="col-md-8">
            <h3>About Us</h3>
            <p> Minuit is a new e-shop for cat lovers and those who thrive in autumnal and earie enviroments.
            </p>
        </div>
        <div id="social" class="col-md-4">
            <ul class="list-inline social-links">
                <li class="list-inline-item">
                    <p><strong>Creator:</strong>   Miriam Cordoba Capote</p>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/miriam-cordoba-capote-936a93225/" target="_blank">
                        <i class="fab fa-linkedin" aria-hidden="true"></i>
                        <span class="sr-only">Linkedin link</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com/Mikatep" target="_blank">
                        <i class="fab fa-github" aria-hidden="true"></i>
                        <span class="sr-only">Github link</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>